// Core mixins
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

// Overrides user variable
@import "../core/variables/components-variables";

// authentication pages background

.otpinputtype {
  padding: 12px;
}
.bg-authentication {
  background-color: $blank-bg-color;
  .auth-title,
  .vx-checkbox-con span,
  .divider .divider-text {
    color: $body-color;
  }
  .auth-footer {
    padding: 0rem 1.5rem 0.5rem;
    .footer-btn {
      .btn {
        padding: 0.87rem 1.2rem !important;
        margin: 1rem 1rem 1rem 0rem;
      }
    }
  }
}
.modal-body {
  padding: 20px 20px 20px 120px;
}
.login-tabs-container {
  min-height: 505px;
}
button.viewbuttonheading {
  background-color: #ededed;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

// Unlock btn spacing in sm

@media (max-width: 400px) {
  .unlock-btn {
    margin-top: 1rem;
  }
}
.inputdataone {
  width: 32px !important;
  text-align: center;
  height: 36px !important;
}
.otpinputtype.mb-2 {
  margin-left: 25px;
  width: 50px;
}

span.eyeviewpassword {
  top: 4px;
  right: 3px;
}
